<!-- </div>  -->
<div class="color">
    <br>
    <br>

    <form [formGroup]=" updateForm" novalidate (ngSubmit)="update(eventList)">
        <mat-card class="shipping-card mat-elevation-z24">
            <!-- <mat-card-header>
                <mat-card-title>Update</mat-card-title>
            </mat-card-header> -->
            <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
                <h3 class="m-0 font-weight-bold text-primary">Update Events Details</h3>
                <div class="dropdown no-arrow">

                </div>
            </div>
            <br>
            <br>
            <mat-card-content>
                <div class="row">
                    <div class="col">

                        <mat-form-field class="full-width">
                            <label>Name:</label>
                            <input matInput placeholder="" formControlName="name" [value]='eventList.name' (input)='eventList.name=$event.target.value'>
                            <mat-divider></mat-divider>
                            <mat-error *ngIf="updateForm.controls['name'].hasError('required')">
                                User Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <label>Address:</label>
                            <input matInput placeholder="" formControlName="Address" [value]='eventList.address' (input)='eventList.address=$event.target.value'>
                            <mat-divider></mat-divider>
                            <mat-error *ngIf=" updateForm.controls['Address'].hasError('required')">
                                Address is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <label>Open Hours:</label>
                            <input matInput placeholder="" formControlName="open" [value]='eventList.open' (input)='eventList.open=$event.target.value'>
                            <mat-divider></mat-divider>
                            <mat-error *ngIf="updateForm.controls['open'].hasError('required')">
                                Open time is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <label>Close Hours:</label>
                            <input matInput placeholder="" formControlName="close" [value]='eventList.close' (input)='eventList.close=$event.target.value'>
                            <mat-divider></mat-divider>
                            <mat-error *ngIf=" updateForm.controls['close'].hasError('required')">
                                Close is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <br>
            <br>

            <mat-card-actions>
                <!-- <button mat-raised-button class="bt" [disabled]="!updateForm.valid">Update</button><br> -->
                <button mat-raised-button class="bt" [disabled]="updateForm.valid">Update</button>


            </mat-card-actions>

        </mat-card>
    </form>
</div>