mat-card {
    width: 100%;
    color: grey;
    border: 1px solid whitesmoke;
    padding: 0px 30px 0px 0px;
}

.full-width {
    width: 100%;
}

.md-button {
    min-width: 100%;
}

h3 {
    text-align: center;
    color: black;
}

.mat-fab,
.mat-flat-button,
.mat-mini-fab,
.mat-raised-button {
    color: white;
    background-color: #11C2D4;
}

.bt {
    width: 100%;
    text-align: center;
}

mat-error {
    color: black;
    font-size: 11px;
}

// input {
//     border-bottom: 1px solid #ddd;
// }
label {
    color: black;
}

.color {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    width: 50%;
    margin-right: 40px;
}

.no-outline:focus {
    outline: none;
}

mat-icon {
    color: black;
    margin-right: 650px;
}