mat-card {
    // width: 100%;
    color: grey;
    border: 1px solid whitesmoke;
    // padding: 0px 0px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.full-width {
    width: 100%;
}

.md-button {
    min-width: 100%;
}

h3 {
    text-align: center;
    color: black;
}

.mat-fab,
.mat-flat-button,
.mat-mini-fab,
.mat-raised-button {
    font-size: 15px;
    border-radius: 25px;
    height: 50px;
    color: black;
    // background-color: #11C2D4;
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #11C2D4, #F5F5F5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(40, 172, 187), #F5F5F5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mat-fab,
.mat-flat-button,
.mat-mini-fab,
.mat-raised-button:hover {
    background: rgb(17, 185, 204);
}

.bt {
    width: 100%;
    text-align: center;
}

.cont {
    text-align: center;
}

mat-error {
    color: red;
    font-size: 11px;
}

mat-card-content {
    margin-left: 27%
}

label {
    color: black;
}

.color {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    width: 50%;
    margin-right: 40px;
    padding-left: 7px;
}

.no-outline:focus {
    outline: none;
}

mat-icon {
    color: black;
    margin-right: 100% // margin-right: 650px;
}