mat-card {
    width: 100%;
    color: grey;
    border: 1px solid whitesmoke;
    padding: 0px 30px 0px 0px;
    // vertical-align: middle;
    /* height: 600px; */
    // margin: auto;
    // vertical-align: middle;
    // top: 100px;
    /* border-radius: 10%; */
}

.full-width {
    width: 100%;
    /* color: white; */
}

.md-button {
    min-width: 100%;
}

h3 {
    text-align: center;
    color: black;
}

.mat-fab,
.mat-flat-button,
.mat-mini-fab,
.mat-raised-button {
    color: white;
    background-color: #11C2D4;
}

.bt {
    width: 100%;
    text-align: center;
}

mat-error {
    color: black;
}

input {
    border-bottom: 1px solid #ddd;
}

label {
    color: black;
}

.color {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}