<div class="color">
    <br>
    <br>

    <form [formGroup]="previousEventsForm" novalidate (ngSubmit)="submit()">
        <mat-card class="shipping-card mat-elevation-z24">
            <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
                <h3 class="m-0 font-weight-bold text-primary">Previous Events Details</h3>
                <div class="dropdown no-arrow">

                </div>
            </div>

            <br>
            <br>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <!-- <img class="img-circle" src="{{imageUrl}}">
                        <div class="image-upload">

                            <mat-icon (click)="input.click()" name="camera" fill="clear">camera</mat-icon>

                            <input type="file" (change)="onUpload($event)" formControlName="srcResult" (input)='events.srcResult=$event.target.value' #input />
                        </div> -->
                        <!-- <img class="img-circle" src="{{imageUrl}}">
                        <div class="image-upload">

                            <mat-icon (click)="input.click()" name="camera" fill="clear">camera</mat-icon>
                            <input type="file" (change)="onUpload($event)" formControlName="srcResult" (input)='sponsor.srcResult=$event.target.value' #input />

                        </div> -->
                        <input type="file" (change)="upload($event)" style="display:none" accept="image/png" #fileinput formControlName="srcResult" (input)='sponsor.srcResult=$event.target.value'>
                        <!-- <ion-icon name="attach" class="ion-float-right" > </ion-icon> -->

                        <div class="uploadfilecontainer" (click)="fileinput.click()">
                            <!-- <mat-icon (click)="input.click()" name="camera" fill="clear">camera</mat-icon>-->
                            <!-- <input type="file" (change)="onUpload($event)" formControlName="srcResult" (input)='events.srcResult=$event.target.value' #input /> -->
                        </div>

                        <div class="files-list">
                            <p>{{fileName}}</p>
                            <!-- 
                            <button class="delete-file" (click)="openBottomSheet()">
                                <img src="../../assets/unnamed-removebg-preview.png">
                                </button> -->
                        </div>
                        <!-- <div class="files-list" *ngFor="let file of files;let i= index">
                            <p> {{ file }} </p>
                             <button class="delete-file" (click)="deleteAttachment(i)">
                                <img src="../../assets/Recycle_Bin_Full.png">
                              </button> 
                        </div> -->

                        <div class="files-list" *ngIf='juiletFile != ""'>
                            <p> {{juiletFile}} </p>

                            <!-- <button class="delete-file" (click)="deleteAttachment(i)">
                                <img src="../../assets/images-removebg-preview (1).png">
                              </button> -->
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <label>Name:</label>
                            <input matInput matInput placeholder="" formControlName="name" (input)='events.name=$event.target.value'>
                            <mat-divider></mat-divider>
                            <mat-error *ngIf="previousEventsForm.controls['name'].hasError('required')">
                                User Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <br>
                            <label>Description:</label>
                            <textarea matInput placeholder="" formControlName="Description" (input)='events.Description=$event.target.value'></textarea>
                            <mat-divider></mat-divider>
                            <mat-error *ngIf=" previousEventsForm.controls['Description'].hasError('required')">
                                Description is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <br>
                            <label>URL:</label>
                            <input matInput placeholder="" formControlName="url" (input)='sponsor.url=$event.target.value'>
                            <mat-divider></mat-divider>
                            <mat-error *ngIf=" sponsorForm.controls['url'].hasError('required')">
                                Url is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div> -->



            </mat-card-content>
            <br><br>
            <mat-card-actions>
                <button mat-raised-button class="bt">Submit</button>


            </mat-card-actions>

        </mat-card>
    </form>
</div>