.full-width {
    width: 100%;
    /* color: white; */
}

.shipping-card {
    min-width: 120px;
    margin: 20px auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}

.md-button {
    min-width: 100%;
    font-weight: bold;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    text-align: center;
    width: 30%;
    height: 50%;
}

.example-full-width {
    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}


/* form {
    padding-top: 6%;
} */

// @media only screen and (max-width: 600px) {
.color {
    -webkit-text-fill-color: black !important;
    background-color: #11C2D4;
    // height: 800px;
    height: 100%;
    width: 100%;
    zoom: 1;
    background-size: cover;
    position: absolute;
}

// }
// .titlee {
//     margin-left: 120px;
//     position: absolute;
// }
mat-card {
    width: 50%;
    margin: auto;
    vertical-align: middle;
    top: 40px;
}

.in {
    color: black;
    /* background: white; */
}

mat-error {
    color: red;
}

input {
    padding: 0px 0px 0px 0px;
    width: 92%;
}


/* .form-row {
    display: flex;
}

.form-row input {
    flex: 1;
} */

mat-card-title {
    // text-align: center;
    font-size: 26px;
    left: auto;
    right: auto;
}

.mylocker .material-icons {
    font-size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.mat-card {
    background: white;
    color: black;
    // background: rgb(49, 48, 48);
    /* color: white; */
}

.bt {
    width: 70px;
    font-weight: bold;
}

.mat-fab,
.mat-flat-button,
.mat-mini-fab,
.mat-raised-button {
    color: black;
    background-color: #11C2D4;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 5%;
}