.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    background: #11C2D4;
    color: white;
}

.mat-list-item {
    color: white;
}

.mn {
    background-color: rgb(15, 96, 105);
    font-weight: bold;
    left: 24px;
    font: italic bold 13x/32px Georgia, serif;
}

span {
    font: italic bold 12px/32px Georgia, serif;
}


/* .sidenav .mat-toolbar {
  background: inherit;
} */

.mat-toolbar.mat-primary {
    // position: sticky;
    top: 0;
    // z-index: 1;
    background: #11C2D4;
    color: white;
}

.mat-nav-list a:hover {
    background: #11C2D4;
}

.active {
    background: #11C2D4;
}

.img {
    // width: 55%;
    // height: 90%;
    // left: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}