<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <br>
        <mat-toolbar class="mn" color="primary">

            <img src="/assets/the  LOGO icon.png" class="img"></mat-toolbar>
        <br>
        <mat-nav-list>

            <a mat-list-item routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <!-- <i class="material-icons">dashboard</i> -->
                <mat-icon>home</mat-icon>
                <!-- <img src="/assets/25694-removebg-preview.PNG"> -->
                <span style="margin-left: 20px;">Home</span>

            </a>
            <!-- <a mat-list-item routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <mat-icon>directions_walk</mat-icon>
                <span style="margin-left: 20px;">RaceClubs</span>

            </a>
            <a mat-list-item routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                
                <mat-icon>check_box</mat-icon>
                <span style="margin-left: 20px;">RaceEvents</span>
            </a> -->
            <a mat-list-item routerLink="registeredclubs" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <!-- <i class="material-icons">dashboard</i> -->
                <mat-icon>my_library_books</mat-icon>
                <!-- <img src="/assets/25694-removebg-preview.PNG"> -->
                <span style="margin-left: 20px;">Clubs</span>

            </a>
            <a mat-list-item routerLink="Registeredevents" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <!-- <i class="material-icons">dashboard</i> -->
                <mat-icon>my_library_books</mat-icon>
                <!-- <img src="/assets/25694-removebg-preview.PNG"> -->
                <span style="margin-left: 20px;">Events</span>

            </a>

            <a mat-list-item routerLink="BookedEvents" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <!-- <i class="material-icons">dashboard</i> -->
                <mat-icon>storage</mat-icon>
                <!-- <img src="/assets/25694-removebg-preview.PNG"> -->
                <span style="margin-left: 20px;">Bookings</span>

            </a>
            <!-- <a mat-list-item routerLink="previousEvents" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
             
                <mat-icon>storage</mat-icon>
             
                <span style="margin-left: 20px;">PreviousEvents</span>

            </a> -->
            <a mat-list-item routerLink="sponsors" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <!-- <i class="material-icons">dashboard</i> -->
                <mat-icon>monetization_on</mat-icon>
                <!-- <img src="/assets/25694-removebg-preview.PNG"> -->
                <span style="margin-left: 20px;">Sponsors</span>

            </a>


            <!-- <a mat-list-item routerLink="userTable" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="material-icons">library_books</i>
                <span style="margin-left: 20px;">UserTable</span>
            </a> -->

            <!-- <a mat-list-item routerLink="spazaTable" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="material-icons">library_books</i>
                <span style="margin-left: 20px;">SpazaTable</span>
            </a> -->

            <!-- <a mat-list-item routerLink="map" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="material-icons">location_on</i>
                <span style="margin-left: 20px;">map</span>
            </a> -->

            <a mat-list-item (click)="signout()">
                <!-- <i class="material-icons">logout</i> -->
                <mat-icon>logout</mat-icon>
                <span style="margin-left: 20px;">Logout</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <mat-toolbar color="primary"> -->
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <!-- <span>Race DashBoard</span> -->
        <!-- </mat-toolbar> -->
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>