<!-- <div>
    <canvas id="myChart" ></canvas>
</div> -->

<!-- age groups -->
<!-- 
<div class="col-xl-6 col-lg-4">
    <div class="card shadow mb-4"> -->
<!-- Card Header - Dropdown -->
<!-- <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
            <h3 class="m-0 font-weight-bold text-primary">Age groups statistics of registered users</h3>
            <div class="dropdown no-arrow">

            </div>
        </div> -->
<!-- Card Body -->
<!-- <div class="col-xl-8 col-lg-4">
            <div class="card-body">
                <div class="chart-area">

                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <br><br> -->
<!-- ******************************************* -->
<!-- Gender -->
<!-- <div class="col-xl-6 col-lg-4">
    <div class="card shadow mb-4"> -->
<!-- Card Header - Dropdown -->
<!-- <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
            <h3 class="m-0 font-weight-bold text-primary">Gender statistics of registered users</h3>
            <div class="dropdown no-arrow">

            </div>
        </div> -->
<!-- Card Body -->
<!-- <div class="col-xl-8 col-lg-4">
            <div class="card-body">
                <div class="chart-area">

                    <canvas class="chart" id="chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="card1">
    <div class="row">
        <div class="column">
            <mat-card>
                <h3 class="m-0 font-weight-bold text-primary">Age groups statistics of registered users</h3>
                <div style="text-align:center">
                    <canvas id="myChart"></canvas>

                </div>
            </mat-card>
        </div>
        <div class="column2">
            <mat-card>
                <h3 class="m-0 font-weight-bold text-primary">Gender statistics of registered users</h3>
                <div style="text-align:center">
                    <canvas class="chart" id="chart"></canvas>

                </div>
            </mat-card>
        </div>
    </div>
</div>

<br><br>

<br>
<div class="pops">
    <mat-card>
        <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
            <h3 class="m-0 font-weight-bold text-primary">All Registered Users</h3>
            <div class="dropdown no-arrow">

            </div>
        </div>
        <br>
        <div class="cont" width="280" height="280">
            <div class="example-header">
                <mat-form-field>
                    <label for="password">
                                    <mat-icon>search</mat-icon>
                                </label>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="">
                    <mat-divider></mat-divider>
                </mat-form-field>
            </div>
            <div class="example-container mat-elevation-z3">
                <table mat-table [dataSource]="dataSource" matSort aria-label="Elements">

                    <ng-container matColumnDef="Name">
                        <tr>
                            <th mat-header-cell *matHeaderCellDef>Name </th>
                            <td mat-cell *matCellDef="let user "> {{user.name}} </td>
                        </tr>
                    </ng-container>

                    <ng-container matColumnDef="Address">
                        <tr>
                            <th mat-header-cell *matHeaderCellDef>Address </th>
                            <td mat-cell *matCellDef="let user"> {{user.add}} </td>
                        </tr>
                    </ng-container>

                    <ng-container matColumnDef="Email">
                        <tr>
                            <th mat-header-cell *matHeaderCellDef>Email</th>
                            <td mat-cell *matCellDef="let user"> {{user.email}} </td>
                        </tr>
                    </ng-container>

                    <ng-container matColumnDef="Age">
                        <tr>
                            <th mat-header-cell *matHeaderCellDef>Age</th>
                            <td mat-cell *matCellDef="let user"> {{user.age}}</td>
                        </tr>
                    </ng-container>

                    <ng-container matColumnDef="Gender">
                        <tr>
                            <th mat-header-cell *matHeaderCellDef>Gender</th>
                            <td mat-cell *matCellDef="let user"> {{user.gender}}</td>
                        </tr>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let user; columns:  displayedColumns"></tr>



                </table>

                <mat-paginator #paginator [pageIndex]="0" [pageSize]="4" [pageSizeOptions]="[4,8,12,16,20]">
                </mat-paginator>
                <!-- <mat-paginator [pageSizeOptions]="[4, 8, 12]" showFirstLastButtons></mat-paginator> -->
            </div>
        </div>
    </mat-card>
</div>