.full-width-table {
    width: 100%;
    overflow: auto;
}

table {
    width: 100%;
}

.cont {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    /* overflow: auto; */
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.input {
    color: black;
}

h3 {
    text-align: center;
    color: grey;
}

mat-card {
    background-color: white;
    border: 1px solid whitesmoke;
}

.pops {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

ng-container {
    font-size: 25px;
}

table {
    color: grey;
}

mat-divider {
    color: grey;
}

mat-icon {
    color: grey;
}

mat-paginator {
    color: grey;
}

table {
    // border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
}

.grid-item {
    background-color: white;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

////////////////////////
.card1 {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: left;
    width: 48%;
    padding: 5px;
}

.column2 {
    float: right;
    width: 48%;
    padding: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

// @media screen and (max-width: 1150px) {
//     .column {
//         float: left;
//         width: 50%;
//         padding: 10px;
//     }
// }
// @media screen and (max-width: 600px) {
//     .column {
//         float: left;
//         width: 100%;
//         padding: 10px;
//     }
// }