<!-- <div>
    <canvas id="myChart" ></canvas>
</div> -->

<!-- age groups -->
<div class="col-xl-6 col-lg-4">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
            <h3 class="m-0 font-weight-bold text-primary">Age groups statistics of registered users</h3>
            <div class="dropdown no-arrow">

            </div>
        </div>
        <!-- Card Body -->
        <div class="col-xl-8 col-lg-4">
            <div class="card-body">
                <div class="chart-area">

                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<!-- ******************************************* -->
<!-- Gender -->
<div class="col-xl-6 col-lg-4">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
            <h3 class="m-0 font-weight-bold text-primary">Gender statistics of registered users</h3>
            <div class="dropdown no-arrow">

            </div>
        </div>
        <!-- Card Body -->
        <div class="col-xl-8 col-lg-4">
            <div class="card-body">
                <div class="chart-area">

                    <canvas class="chart" id="chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

<br><br>