<!-- <div>
    <canvas id="myChart" ></canvas>
</div> -->

<!-- age groups -->
<div class="col-xl-6 col-lg-4">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Age groups statistics of registered users</h6>
            <div class="dropdown no-arrow">

            </div>
        </div>
        <!-- Card Body -->
        <div class="col-xl-8 col-lg-4">
        <div class="card-body">
            <div class="chart-area">
                    
                <canvas id="myChart" ></canvas>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- ******************************************* -->
<!-- Gender -->
<div class="col-xl-6 col-lg-4">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Gender statistics of registered users</h6>
            <div class="dropdown no-arrow">

            </div>
        </div>
        <!-- Card Body -->
        <div class="col-xl-8 col-lg-4">
        <div class="card-body">
            <div class="chart-area">
                    
                            <canvas class="chart" id="chart"></canvas>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- ************************************************ -->
<!-- <div class="col-xl-6 col-lg-4">
    <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align--center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Ethnicity per gender statistics of registered users</h6>
            <div class="dropdown no-arrow">
            </div>
        </div>
  
        <div class="col-xl-10 col-lg-4">
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="line-chart" width="200" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</div> -->
<br><br><br>
<div class="cont"  width="400" height="400">
      <!-- club filter  -->
    <div class="example-header">
        <mat-form-field>

            <input matInput (keyup)="clubFilter($event.target.value)" placeholder="Find">
        </mat-form-field>
    </div>
      <!-- club table  -->
    <div class="example-container mat-elevation-z3">
        <table mat-table [dataSource]="clubSource"  matSort aria-label="Elements">

            <ng-container matColumnDef="Clubname">
                <th mat-header-cell *matHeaderCellDef> Club name </th>
                <td mat-cell *matCellDef="let club "> {{club.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Address">
                <th mat-header-cell *matHeaderCellDef>Address </th>
                <td mat-cell *matCellDef="let club"> {{club.add}} </td>
            </ng-container>

            <ng-container matColumnDef="Opening time">
                <th mat-header-cell *matHeaderCellDef> Opening time </th>
                <td mat-cell *matCellDef="let club"> {{club.open }} </td>
            </ng-container>

            <ng-container matColumnDef="Closing time">
                <th mat-header-cell *matHeaderCellDef> Closing time </th>
                <td mat-cell *matCellDef="let club"> {{club.close}} </td>
            </ng-container>
            
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let club"> 
            <button (click)="clubDelete(club.key)">Delete</button> &nbsp;
            <button>Update</button>
        </td>
      </ng-container>
            <tr mat-header-row *matHeaderRowDef="clubColumns"></tr>
            <tr mat-row *matRowDef="let club; columns:  clubColumns"></tr>






        </table>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->

    <!-- Events filter  -->
    <div class="example-header">
        <mat-form-field>

            <input matInput (keyup)="eventFilter($event.target.value)" placeholder="Find">
        </mat-form-field>
    </div>
  <!-- Events table  -->
    <div class="example-container mat-elevation-z3" >
        <table mat-table [dataSource]="eventSource"  matSort aria-label="Elements">

            <ng-container matColumnDef="Eventname">
                <th mat-header-cell *matHeaderCellDef> Event name </th>
                <td mat-cell *matCellDef="let event "> {{event.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Address">
                <th mat-header-cell *matHeaderCellDef>Address </th>
                <td mat-cell *matCellDef="let event" > {{event.add}} </td>
            </ng-container>

            <ng-container matColumnDef="Distance">
                <th mat-header-cell *matHeaderCellDef> Distance </th>
                <td mat-cell *matCellDef="let event "> {{event.km}}km </td>
            </ng-container>

            <ng-container matColumnDef="Opening time">
                <th mat-header-cell *matHeaderCellDef> Opening time </th>
                <td mat-cell *matCellDef="let event"> {{event.open }} </td>
            </ng-container>

            <ng-container matColumnDef="Closing time">
                <th mat-header-cell *matHeaderCellDef> Closing time </th>
                <td mat-cell *matCellDef="let event"> {{event.close}} </td>
            </ng-container>
            
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let event"> 
            <button (click)="eventDelete(event.key)">Delete</button> &nbsp;
            <button>Update</button>
        </td>
      </ng-container>
            <tr mat-header-row *matHeaderRowDef="eventColumns"></tr>
            <tr mat-row *matRowDef="let club; columns:  eventColumns"></tr>






        </table>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->

       <!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->

    <!-- Booked Events filter  -->
    <div class="example-header">
        <mat-form-field>

            <input matInput (keyup)="bookedFilter($event.target.value)" placeholder="Find">
        </mat-form-field>
    </div>
  <!-- booked Events table  -->
    <div class="example-container mat-elevation-z3" >
        <table mat-table [dataSource]="bookedSource"  matSort aria-label="Elements">

            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Event name </th>
                <td mat-cell *matCellDef="let booked "> {{booked.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Address">
                <th mat-header-cell *matHeaderCellDef>Address </th>
                <td mat-cell *matCellDef="let booked" > {{booked.add}} </td>
            </ng-container>

            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let booked "> R{{booked.price}} </td>
            </ng-container>

            <ng-container matColumnDef="Tickets">
                <th mat-header-cell *matHeaderCellDef>Tickets</th>
                <td mat-cell *matCellDef="let booked"> {{booked.tickets }} </td>
            </ng-container>

            <ng-container matColumnDef="Total">
                <th mat-header-cell *matHeaderCellDef> Total</th>
                <td mat-cell *matCellDef="let booked"> R{{booked.total}} </td>
            </ng-container>
            
      <ng-container matColumnDef="Payed">
        <th mat-header-cell *matHeaderCellDef> Payed </th>
        <td mat-cell *matCellDef="let booked"> 
            <button (click)="updateDoc(booked.key)">yes</button> &nbsp;
            <button (click)="bookedDelete(booked.key)">no</button>
        </td>
      </ng-container>
            <tr mat-header-row *matHeaderRowDef="bookedColumns"></tr>
            <tr mat-row *matRowDef="let booked; columns:  bookedColumns"></tr>






        </table>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>