mat-card {
    width: 100%;
    /* height: 600px; */
    // margin: auto;
    // vertical-align: middle;
    // top: 100px;
    /* border-radius: 10%; */
}

mat-icon {
    color: #11C2D4;
    border-radius: 50%;
}

.full-width {
    width: 100%;
    /* color: white; */
}

.md-button {
    min-width: 100%;
}

h3 {
    text-align: center;
}

.mat-fab,
.mat-flat-button,
.mat-mini-fab,
.mat-raised-button {
    color: white;
    background-color: #11C2D4;
}
.bt{
    width:100%;
}